<div class="login-container">
    <div class="login-header">
        <div class="logo">
            Open-Up
        </div>
        <div class="catch-phrase">
            {{catchPhrase}}
        </div>
    </div>
<div class="login-form-container">
    <h4>Login</h4>
    <label for="username">Username</label><br>
    <input type="text" name="username"><br>
    <label for="username">Password</label><br>
    <input type="text" name="username">
<div class="button-container" (click)="onButtonClick()"><button>login</button></div>
</div>
</div>
